*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(253, 200, 48), rgb(253, 181, 48));
    color: rgb(15, 20, 20);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    min-height: 100vh;
}

header {
    font-size: 2rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    outline: none;
}

form button {
    color: white;
    cursor: pointer;
    background: rgb(240, 157, 102);
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
    border-radius: 50px;
}

.todo {
    margin: 0.5rem;
    background: white;
    /* padding: 0.4rem 10rem; */
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.todo li {
    flex: 1;
    margin: 0 0.5rem;
}

.complete-button,
.delete-button {
    background: rgb(240, 157, 102);
    color: white;
    outline: none;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.complete-button {
    background: green;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slideAnimation {
    opacity: 0;
    transform: rotateZ(10deg) translateY(100px);
    transform-origin: left;
}

.filter-todo {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 5px;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: rgb(240, 157, 102);
    min-width: 15rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: rgb(240, 157, 102);
    top: 0;
    right: 0;
    color: white;
    padding: 1rem;
    pointer-events: none;
}


/* option {
    color: rgb(240, 157, 102);
    width: 10rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1rem;
    border: none;
    outline: none;
} */