*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(253, 200, 48), rgb(253, 181, 48));
    color: rgb(15, 20, 20);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    min-height: 100vh;
}

header {
    font-size: 2rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    outline: none;
}

form button {
    color: white;
    cursor: pointer;
    background: rgb(240, 157, 102);
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
    border-radius: 50px;
}

.todo {
    margin: 0.5rem;
    background: white;
    /* padding: 0.4rem 10rem; */
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: deleteItem 0.5s ease 0.1;
}

.todo li {
    flex: 1;
    margin: 0 0.5rem;
}

.complete-button,
.delete-button {
    background: rgb(240, 157, 102);
    color: white;
    outline: none;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.complete-button {
    background: green;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {}

@keyframes deleteItem {
    from {
        left: -20px;
    }
    to {
        right: 100%;
    }
}